body {
    display: flex;
    padding-bottom: 60px;
}
.content-wrapper {
    margin-left: 80px;
    width: calc(100% - 80px);
    display: flex;
    flex-direction: column;
}
.main-content {
    flex-grow: 1;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
}

.sidebar {
    width: 80px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1rem;
    z-index: 1030;
}
.sidebar .nav-link {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}
.sidebar .nav-link.active {
    background-color: #495057;
    border-radius: 0.375rem;
}
.sidebar .nav-link.active i {
    font-size: 1.8rem;
}
.sidebar .github-link {
    margin-top: auto;
    margin-bottom: 60px;
}
.sidebar-logo {
    width: 40px;
    height: 40px;
}
.logo-container {
    padding: 0.5rem;
}
.sidebar-logo {
    width: 40px;
    height: 40px;
}
.sidebar-divider {
    width: 70%;
    margin: 0 auto 1rem auto;
    border-color: rgba(255, 255, 255, 0.25);
}

[data-bs-theme="dark"] .table-light {
    --bs-table-bg: #32383e;
    --bs-table-color: #e9ecef;
    --bs-table-border-color: #495057;
}
[data-runner-group] {
    cursor: pointer;
}