{% extends "base.html" %}
{% block content %}
<h1 class="mb-4">Changelog</h1>
<div class="card">
    <div class="card-body">
        <h4><span class="badge text-bg-info">1.0.0</span> Added login & secured setup page</h4>
        <h5><code>Small fixes focused on encryption </code><br />
            <code>UI cleanup</code><br />
        </h5><br /><br />
        <h4><span class="badge text-bg-info">0.0.4</span> Azure DevOps Added</h4>
        <h5><code>Extended settings page to add Azure DevOps configuration </code><br />
            <code>Reimplemented dynamic data loading for Azure DevOps organizations & agent pools</code><br />
        </h5><br /><br />
        <h4><span class="badge text-bg-info">0.0.3</span> JIRA & Confluence Added</h4>
        <h5><code>Redesigned settings page to accomodate JIRA & Confluence settings </code><br />
            <code>Added support for JIRA & Confluence healthchecks</code><br />
        </h5><br /><br />
        <h4><span class="badge text-bg-info">0.0.2</span> UI Improvements</h4>
        <h5><code>Redesigned UI to dynamic loading of the monitored runner groups</code><br />
            <code>Implemented settings page</code><br />
            <code>Extended tests</code><br />
            <code>Additional tweaks and optimizations in the code</code>
        </h5><br /><br />
        <h4><span class="badge text-bg-info">0.0.1</span> UI Improvements</h4>
        <h5><code>Updated css</code><br />
            <code>Added navigation</code><br />
            <code>Extended tests</code><br />
            <code>Improved UI</code>
        </h5><br /><br />
        <h4><span class="badge text-bg-light">0.0.0</span> Initial commit</h4>
        <h5><code>Added extensive README</code><br />
            <code>Created CI pipeline</code><br />
            <code>Added test cases</code><br />
            <code>Code added to git</code>
        </h5>
    </div>
</div>
{% endblock %}